<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.witstutor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentLogin" />
        <activity android:name=".LecturerLogin" />
        <activity android:name=".LectRegistration" />
        <activity android:name=".LecturerProfile" />
        <activity android:name=".StuRegistration" />
        <activity android:name=".StudentProfile" />
        <activity android:name=".LectCourse" />
        <activity android:name=".LectCreateApplication" />
        <activity android:name=".LectApplication" />
        <activity android:name=".LectSubmittedAppl" />
        <activity android:name=".StuViewApplications" />
        <activity android:name=".StudentApply" />
        <activity android:name=".LectCourseList" />
        <activity android:name=".LectDisplayTutors" />
        <activity android:name=".LectTakeAtten" />
        <activity android:name=".LectAttenCourse" />
        <activity android:name=".LectViewCourseAtten" />
        <activity android:name=".LectViewAttenRecord" />
        <activity android:name=".StuViewAttenRecord" />
        <activity android:name=".StuViewCourseAtten"></activity>
    </application>

</manifest>